body {
    margin: 0;
    font-family: 'roboto';
}

.flex-wrapper {
    display: flex;
    padding: 0px 100px;
}

.blue-background {
    background-color: #1F2937;
}

header {
    align-items: center;
    color: #f9faf8;
    gap: 15px;
    height:60px;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    margin-right: auto;
}

.hero-text {
    font-size: 48px;
    font-weight:900;
    margin-bottom:0px;
    color: #f9faf8;
}

.secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

button {
    background-color: #3882F6;
    padding: 7px 27px; 
    border-radius: 7px;
    font-weight: bold;
    border: none;
}

.hero-img {
    margin: 48px 0px;
    justify-content: center;
    align-items: center;
}

/* div img {
    height: 
}  
